DATABASE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=9779705432357
NEXT_PUBLIC_PHONE_NUMBER=+9779705432357
ADMIN_JWT_SECRET=
ADMIN_COOKIE_NAME=bheri_karnali_admin_session
ADMIN_EMAIL=
ADMIN_PASSWORD=
EMAIL_PROVIDER=
ADMIN_NOTIFICATION_EMAIL=
